body {
    padding-top: 50px;
}
.main {
    padding: 40px 15px;
    text-align: center;
}
.suche {
    padding: 40px 15px;
    text-align: left;
}
.btn-group {
    width: 100%;
}
.dropdown-menu {
    width: 100%
}
.breadcrumb {
    background-color: #ffffff;
    font-size: 120%;
    font-weight: 700;
}

.carousel-caption {
  color: #000; 
}
.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel{
	height:100%
}