@(gemeinde: String) @main("SchiLiftApp") {
<div class="main">
	<ol class="breadcrumb">
		<li><a href="@routes.Application.suche()">Suche</a></li>
		<li><a href="@routes.Application.schigebiet(gemeinde)">@gemeinde</a></li>
		<li class="active">QR-Code kaufen</li>
	</ol>

	<br/><!-- padding for jsfiddle -->
 <h6>datetimepicker1</h6>
<div class="form-group">
    <div class="input-group date" id="datetimepicker1">
        <input type="text" class="form-control" />
		<span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
    </div>
</div>
 <h6>datetimepicker2</h6>
<input type="text" class="form-control" id="datetimepicker2">

	<h4>von</h4>
	<div class="input-group">
		<input type="text" class="form-control" placeholder="Stunde"
			aria-describedby="basic-addon2"></input> <span
			class="input-group-addon" id="basic-addon2"><strong>:</strong></span>

		<input type="text" class="form-control" placeholder="Minute"
			aria-describedby="basic-addon2"></input>
	</div>
	<br />
	<div class="input-group">
		<input type="text" class="form-control" placeholder="Tag"
			aria-describedby="basic-addon2"></input> <span
			class="input-group-addon" id="basic-addon2"><strong>.</strong></span>

		<input type="text" class="form-control" placeholder="Monat"
			aria-describedby="basic-addon2"></input> <span
			class="input-group-addon" id="basic-addon2"><strong>.</strong></span>

		<input type="text" class="form-control" placeholder="Jahr"
			aria-describedby="basic-addon2"></input>
	</div>

	<br />
	<h4>bis</h4>
	<div class="input-group">
		<select class="form-control">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
			<option>6</option>
			<option>7</option>
			<option>8</option>
			<option>9</option>
			<option>10</option>
			<option>11</option>
			<option>12</option>
		</select> <select class="form-control">
			<option>am</option>
			<option>pm</option>
		</select> <select class="form-control">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
			<option>6</option>
			<option>7</option>
			<option>8</option>
			<option>9</option>
			<option>10</option>
			<option>11</option>
			<option>12</option>
			<option>13</option>
			<option>14</option>
			<option>15</option>
			<option>16</option>
			<option>17</option>
			<option>18</option>
			<option>19</option>
			<option>20</option>
			<option>21</option>
			<option>22</option>
			<option>23</option>
			<option>24</option>
			<option>25</option>
			<option>26</option>
			<option>27</option>
			<option>28</option>
			<option>29</option>
			<option>30</option>
			<option>31</option>
		</select> <select class="form-control">
			<option>Januar</option>
			<option>Februar</option>
			<option>März</option>
			<option>April</option>
			<option>Mai</option>
			<option>Juni</option>
			<option>Juli</option>
			<option>August</option>
			<option>Septembre</option>
			<option>October</option>
			<option>November</option>
			<option>December</option>
		</select>
	</div>

	<br />
	<button type="button" class="btn btn-lg btn-default">Kaufen</button>

</div>
}
