@(gemeinde: String) @main("SchiLiftApp") {
<div class="main">
	<ol class="breadcrumb">
		<li><a href="@routes.Application.suche()">Suche</a></li>
		<li><a href="@routes.Application.schigebiet(gemeinde)">@gemeinde</a></li>
		<li class="active">QR-Code kaufen</li>
	</ol>
	<form action="@routes.Application.gekauft(gemeinde)">
		<div class="form-group">
			<h4>von</h4>
			<input type="text" class="form-control" id="datetimepicker1" required autofocus readonly>
			<h4>bis</h4>
			<input type="text" class="form-control" id="datetimepicker2" required readonly>
			<br />
			<button type="submit" class="btn btn-lg btn-default">Kaufen</button>
		</div>
		<script type="text/javascript">
			$(function() {
				$('#datetimepicker1').datetimepicker();
			});
			$(function() {
				$('#datetimepicker2').datetimepicker();
			});
		</script>
	</form>
	
</div>
}
