@(gemeinde: String) @main("SchiLiftApp") {
<div class="main">
	<ol class="breadcrumb">
		<li><a href="@routes.Application.suche()">Suche</a></li>
		<li><a href="@routes.Application.schigebiet(gemeinde)">@gemeinde</a></li>
		<li class="active">QR-Code kaufen</li>
	</ol>

	<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div>

	<br />
	<button type="button" class="btn btn-lg btn-default">Kaufen</button>

</div>

}
