@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
<title>@title</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0,
maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-datetimepicker.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/nonavbar.css")">
<script src="@routes.Assets.at("javascripts/jquery-2.1.0.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/moment.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap-datetimepicker.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/compressed.js")" type="text/javascript"></script>
</head>
<body>
	<div class="container">@content</div>
</body>
</html>