@(schilift: Schilift)
@main("SchiLiftApp") {
<div class="main">
	<ol class="breadcrumb">
		<li><a href="#">Suche</a></li>
		<li><a href="#">Achenkirch</a></li>
		<li class="active">Schilift 1</li>
	</ol>
	<table class="table">
		<thead>
			<tr>
				<th>Schilift 1</th>
				<th></th>
			</tr>
		</thead>
		<tr>
			<td>Anzahl Personen</td>
			<td>4</td>
		</tr>
		<tr>
			<td>Höhe Talstation</td>
			<td>1000m</td>
		</tr>
		<tr>
			<td>Höhe Bergstation</td>
			<td>2000m</td>
		</tr>
	</table>
</div>
}
