@(suchbegriff: String)
@main("SchiLiftApp") {
<div class="suche">
	<form>
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search for..." value="@suchbegriff"/>
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">Go!</button>
			</span>
		</div>
	</form>
	<br />
	<div class="list-group">
		<a href="#" class="list-group-item"> Achenkirch </a> <a href="#"
			class="list-group-item"> Aldrans </a> <a href="#"
			class="list-group-item"> Alpbach </a> <a href="#"
			class="list-group-item"> Angerberg </a> <a href="#"
			class="list-group-item"> Anras </a> <a href="#"
			class="list-group-item"> Arzl im Pitztal </a> <a href="#"
			class="list-group-item"> Aschau im Zillertal </a> <a href="#"
			class="list-group-item"> Assling </a> <a href="#"
			class="list-group-item"> Assling </a> <a href="#"
			class="list-group-item"> Aurach bei Kitzbühel </a> <a href="#"
			class="list-group-item"> Außervillgraten </a> <a href="#"
			class="list-group-item"> Axams </a>
	</div>
</div>
}
