@(suchbegriff: String, schigebiete: List[Schigebiet])
@main("SchiLiftApp") {
<div class="suche">
	<form>
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search for..." value="@suchbegriff"/>
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">Go!</button>
			</span>
		</div>
	</form>
	<br />
	<div class="list-group">
		@for(schigebiet<-schigebiete) {
			<a href="@routes.Application.schigebiet(schigebiet.getGemeinde())" class="list-group-item">@schigebiet.getGemeinde()</a>
		}
	</div>
</div>
}
